.main-layout {
  display: flex;
  height: 100vh;
  width: 100%;

  overflow: auto;
  background-color: #ffffff;
}

.main-content-wrapper {
  display: flex;
  flex: 1;

  overflow: auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  background-color: #ffffff;

  min-height: 100vh;

  padding-bottom: 80px;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .main-layout {
    padding-left: 50px;

    overflow-y: auto;

    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .main-content-wrapper {
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - 50px);
  }

  .main-content {
    width: 100%;

    overflow-y: auto;

    padding-bottom: 100px;
  }
}

/* Para pantallas muy pequeñas */
@media (max-width: 320px) {
  .main-layout {
    padding-left: 40px;
  }
}

/* Para pantallas muy grandes */
@media (min-width: 1800px) {
  .main-content {
    max-width: 1800px;
    margin: 0 auto;
  }
}